NEXTAUTH_URL=
NEXTAUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev. Run: `npx auth secret` to generate one and put in .env.local

MONGODB_URI=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DATABASE=

OPENAI_API_KEY=